

.header {
    width: 100%;
    padding-top: 10px;
    z-index: 20;
}


.topNavBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topNavBar-brand {
    /*margin-left: 30px;*/
    max-width: 80px;
}

.logoImg {
    width: 100%;
}

.topNavBar ul {
   padding-right: 30px;

}

.topNavBar-links {
    display: flex;
    align-items: center;
    gap: 80px;
}

.topNavBar-links li:last-child {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px 7px;
}

#reserve-link {
    width: 90px;
    height: 15px;
    background-color: #FFAA05;
    border-radius: 10px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    padding: 5px 10px 5px 10px;
}

@media (max-width: 844px) {
    .logoImg {
        width: 70%;
    }
    .topNavBar {
        display: block;
    }
    .header {
        text-align: -webkit-center;
    }
    .decoreImg {
        max-width: none;
    }
    .title-decore {
        position: absolute;
    }
    .barra-de-busqueda {
        width: 100%;
        text-align: -webkit-match-parent;
    }
    .topNavBar-links {
        gap: 10px;
    }
}