.page-wrapping {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #f5f1f1, #fff);
}

.details-card {
    width: 62.5%;

    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.details-img-container {
    width: 750px;
    height: 300px;
    background-color: blue;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.details-img {
    width: 750px;
    height: 300px;
    border-radius: 25px 25px 0 0;
    justify-content: center;
    position: relative;
    object-fit: cover;
}

.price {
    font-size: 60px;
    font-weight: bold;
    font-family: Volkhov, serif;
    background-color: #e8a036;
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 10px;
    border-radius: 20px 0 0 20px;
}

.details-text-box {
    display: flex;
    flex-direction: column;

}

.title {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    margin: 20px 0 5px 25px;
    text-align: start;

}

.text {
    display: flex;
    flex-direction: row;

}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 10px 20px 25px;
}

.description-title {
    font-family: Poppins, sans-serif;
    font-size: smaller;
    text-align: start;

}

.type-and-a11y {

    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 25px 20px 10px;
    justify-content: flex-end;
}

.type-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-evenly;
}

.e-place {
    font-family: Volkhov, serif;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #4b7f55;
    border: black solid 2px;
    width: 95px;
    height: 95px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    justify-content: space-evenly;
}

#place-type {
    font-family: Volkhov, serif;
}

#place-icon {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-self: center;
}

#place-name {
    font-family: Volkhov, serif;
    font-size: smaller;
}

.e-duration {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #e8a036;
    border: black solid 2px;
    width: 95px;
    height: 95px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    justify-content: space-evenly;
}

#duration {
    font-family: Volkhov, serif;
}

#duration-time {
    font-family: Volkhov, serif;
}

#duration-length {
    font-family: Volkhov, serif;
}

.e-transport {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #4B5A7F;
    border: black solid 2px;
    width: 95px;
    height: 95px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    justify-content: space-evenly;
}

#transport {
    font-family: Volkhov, serif;
}

#transport-icon {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-self: center;
}

#transport-name {
    font-family: Volkhov, serif;
}

.a11y-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.a11y-name {
    font-family: Poppins, sans-serif;
    font-size: small;
    font-weight: bold;
    text-align: start;
}

.a11y-description {
    font-family: Poppins, sans-serif;
    font-size: 11px;
    text-align: start;
    margin-bottom: 10px;
}

.btn-reservation {
    width: 200px;
    height: 40px;
    background-color: #e8a036;
    font-family: Volkhov, serif;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-top: 25px;
    margin-bottom: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    align-self: center;
}
@media (min-width: 400px)and(max-width: 844px) {
    .type-container {
        display: none;
    }
    .details-card {
        width: 100%;

    }
    .details-text-box {
        width: 100%;
    }
}


@media (min-width: 845px)and(max-width: 1180px) {
    .details-card {
        width: 100%;

    }
    .details-text-box {
        width: 100%;
    }

}