* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  text-align: center;
}

.App {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

/**********HEADER******************/
.header {

  width: 100%;
}
.topNavBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNavBar-brand {
  max-width: 100px;
}

.logoImg {
  width: 100%;
}

.topNavBar-links {
  display: flex;
  gap: 40px;
}


.main {
  flex-grow: 1;
}

/************FOOTER**********************/
.footer {
  height: 80px;
  background: #d7cece;
  display: flex;
  flex-shrink: 0;
}

.footer h2 {

  margin: auto;
  text-align: center;

}


